<%- partial('_partial/head',{navitem: "/about"}) %>
    
    <%- addsection('about') %>
    <section class="resume">
    	<h1 class="section-header full column">Résumé</h1>
    	<hr>
    	<%- addsection('resume') %>
    </section>
      
<%- partial('_partial/footer',{index: true}) %>
<%- partial('_partial/after-footer') %>