<%- partial('_partial/head',{navitem: "/about"}) %>
    <section class="contact">
    	<%- page.content %>
    </section>

    <%- addsection('resume') %>

      
<%- partial('_partial/footer',{index: true}) %>
<%- partial('_partial/after-footer') %>
