<%- partial('_partial/head',{navitem: "/about"}) %>
    <section class="contact">
    	<%- page.content %>
    </section>

    <div class="resume">
    	<%- addsection('resume-md') %>
    </div>

      
<%- partial('_partial/footer',{index: true}) %>
<%- partial('_partial/after-footer') %>
